---
import "glider-js/glider.min.css";
---

<script>
  import Glider from "glider-js";

  new Glider(document.querySelector(".glider"), {
    slidesToShow: 1,
    slidesToScroll: 1,
    draggable: true,
    dots: ".dots",
    arrows: {
      prev: ".glider-prev",
      next: ".glider-next",
    },
  });
</script>
<section class="glider-contain">
  <div class="glider">
    <slot />
  </div>
  <button class="glider-prev">«</button>
  <button class="glider-next">»</button>
</section>
<style>
  .glider-contain {
    max-width: 80%;
    height: 40%;
    margin: 0 auto;
    background-color: #577b9c;
  }
  .glider-contain:hover {
    background-color: #7695b1;
  }
  .glider {
    display: flex;
  }
  .glider > div {
    min-width: 100%; /* Each slide takes full width */
    box-sizing: border-box;
    padding: 20px;
    background-color: #f0f0f0;
    text-align: center;
  }
  .glider-prev,
  .glider-next {
    color: #494949;
  }
  .glider-next.disabled,
  .glider-prev.disabled {
    opacity: 0.5;
    color: #494949;
    cursor: default;
  }
</style>
