---
import Project from "../../components/Project.astro";
---

<Project
  title="APCSP Portfolio"
  assignment="Create a portfolio by importing libraries."
>
  <p>My project was super fun, I worked hard on it!</p>
  <!-- Replace src="" on iframe with address of your published
   project :-) -->
  <iframe
    src="https://bug-free-waffle-r9jxp99wwq7fp9rx-4322.app.github.dev/"
    title="Personality Quiz"
    width="100%"
    height="700px"></iframe>
</Project>
