---
import Project from "../../components/Project.astro"
---

<Project
  title="Turtle Drawing"
  assignment="Create a drawing using the turtle library and multiple functions"
>
  <p>My project was super fun, I worked hard on it!</p>
  <!-- Replace src="" on iframe with address of your published
   project :-) -->
  <iframe 
    src="https://iacs-cs.github.io/mini-turtle-project-chrimus-tee/" 
    title="Turtle Drawing"
    width="100%"
    height="300px"
  ></iframe>

</Project>
